@import "tailwindcss";

@theme {
  --font-family-sans: 'Syne', sans-serif;
  --font-family-mono: 'Space Mono', monospace;
}
 
*, *::before, *::after {
  box-sizing: border-box;
}
 
html {
  scroll-behavior: smooth;
}
 
body {
  background-color: #10101a;
  color: #c8c8e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
::selection {
  background: rgba(0, 255, 195, 0.2);
}
 